/* You can add global styles to this file, and also import other style files */
.cdk-overlay-container {
    z-index: 20000 !important;
}

.job-container {
    max-width: 95vw;
}

.job-container.maximized, .job-container.minimized {
    max-width: 33vw;
}
