<nb-layout>
  <nb-layout-header fixed>
    <button nbButton ghost status="primary" (click)="toggleSidebar()"><nb-icon icon="menu-outline"></nb-icon></button>
    Bull's Eye 
    <span style="padding: 0 5px;"><nb-icon icon="eye-outline"></nb-icon></span>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items" [autoCollapse]="true">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <nb-tabset fullWidth (changeTab)="changeTab($event)">
      <nb-tab *ngFor="let tab of tabs"
              [tabTitle]="tab.title"
              [badgeText]="tab.count"
              [badgeStatus]="tab.status" [nbSpinner]="loading">
        <table [nbTreeGrid]="dataSource" [equalColumnsWidth]="false">

          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

          <ng-container *ngFor="let column of allColumns" [nbTreeGridColumnDef]="column">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{tableHeaders[column]}}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row" [nbTooltip]="row.data[column] + (column === 'progress' ? '%' : '')">
              <ng-container *ngIf="column === 'progress'; else elseTemplate">
                <nb-progress-bar [value]="row.data[column]" [status]="getProgressBarStatus(row.data[column])" [displayValue]="true"></nb-progress-bar>
              </ng-container>
              <ng-template #elseTemplate>
                {{row.data[column]}}
              </ng-template>
            </td>
          </ng-container>

        </table>
      </nb-tab>
    </nb-tabset>
  </nb-layout-column>
</nb-layout>  