<nb-layout>
  <nb-layout-header fixed>
    <button nbButton ghost status="primary" (click)="toggleSidebar()"><nb-icon icon="menu-outline"></nb-icon></button>
    Bull's Eye 
    <span style="padding: 0 5px;"><nb-icon icon="eye-outline"></nb-icon></span>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items" [autoCollapse]="true">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <nb-tabset fullWidth (changeTab)="fetchJobs($event.tabTitle, 1)">
      <nb-tab *ngFor="let tab of tabs"
              [tabTitle]="tab.title"
              [badgeText]="tab.count"
              [badgeStatus]="tab.status" [nbSpinner]="loading">
        <table [nbTreeGrid]="dataSource" [equalColumnsWidth]="false">

          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="shownTableHeaderKeys"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: shownTableHeaderKeys"></tr>

          <ng-container *ngFor="let column of shownTableHeaderKeys" [nbTreeGridColumnDef]="column">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
              <span *ngIf="column !== 'more'">{{tableHeaders[column]}}</span>
              <button nbButton ghost status="default" *ngIf="column === 'more'" [nbContextMenu]="hiddenTableHeaderKeys" nbContextMenuTag="more-menu"><nb-icon icon="more-vertical"></nb-icon></button>
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row; let i=index"
                [nbTooltip]="column === 'more' ? 'Show More' :
                             column === 'delay' ? (row.data[column] | number) :
                             column === 'progress' ? row.data[column] + '%' :
                             column === 'timestamp' ? (row.data[column] | amDateFormat:'lll') :
                             column === 'finishedOn' ? (row.data[column] | amDateFormat:'lll') :
                             column === 'processedOn' ? (row.data[column] | amDateFormat:'lll') :
                             column === 'attemptsMade' ? (row.data[column] | number) : row.data[column]">
              <ng-container *ngIf="column === 'progress'; else notProgress">
                <be-progress-bar [value]="row.data[column]" [status]="getProgressBarStatus(row.data[column])"></be-progress-bar>
              </ng-container>
              <ng-template #notProgress>
                <ng-container *ngIf="column === 'more'; else notMore">
                  <button nbButton ghost (click)="openJobWindow(i)"><nb-icon icon="browser-outline"></nb-icon></button>
                </ng-container>
                <ng-template #notMore>
                  <ng-container *ngIf="column === 'timestamp' || column === 'finishedOn' || column === 'processedOn'; else notDate">
                    {{row.data[column] | amDateFormat:'lll'}}
                  </ng-container>
                  <ng-template #notDate>
                    {{row.data[column]}}
                  </ng-template>
                </ng-template>
              </ng-template>
            </td>
          </ng-container>
        </table>
        <div *ngIf="data && !data.length" class="no-jobs">There are no {{ activeTab | lowercase }} jobs.</div>
        <be-paginator [currentPage]="pageNumber" [totalPages]="totalPages" (toPage)="fetchJobs(activeTab, $event)"></be-paginator>
      </nb-tab>
    </nb-tabset>
  </nb-layout-column>
</nb-layout>  