<nb-layout>
  <nb-layout-header fixed>
    <button nbButton ghost status="primary" (click)="toggleSidebar()"><nb-icon icon="menu-outline"></nb-icon></button>
    Bull's Eye 
    <span style="padding: 0 5px;"><nb-icon icon="eye-outline"></nb-icon></span>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items" [autoCollapse]="true">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <nb-tabset fullWidth (changeTab)="changeTab($event)">
      <nb-tab *ngFor="let tab of tabs"
              [tabTitle]="tab.title"
              [badgeText]="tab.count"
              [badgeStatus]="tab.status" [nbSpinner]="loading">
        <table [nbTreeGrid]="dataSource" [equalColumnsWidth]="false">

          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="shownTableHeaderKeys"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: shownTableHeaderKeys"></tr>

          <ng-container *ngFor="let column of shownTableHeaderKeys" [nbTreeGridColumnDef]="column">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
              <span *ngIf="column !== 'more'">{{tableHeaders[column]}}</span>
              <button nbButton ghost status="default" *ngIf="column === 'more'" [nbContextMenu]="hiddenTableHeaderKeys" nbContextMenuTag="more-menu"><nb-icon icon="more-vertical"></nb-icon></button>
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row" [nbTooltip]="column !== 'more' ? row.data[column] + (column === 'progress' ? '%' : '') : 'Show More'">
              <ng-container *ngIf="column === 'progress'; else notProgress">
                <nb-progress-bar [value]="row.data[column]" [status]="getProgressBarStatus(row.data[column])" [displayValue]="true"></nb-progress-bar>
              </ng-container>
              <ng-template #notProgress>
                <ng-container *ngIf="column === 'more'; else notMore">
                  <button nbButton ghost><nb-icon icon="external-link"></nb-icon></button>
                </ng-container>
                <ng-template #notMore>
                  {{row.data[column]}}
                </ng-template>
              </ng-template>
            </td>
          </ng-container>

        </table>
      </nb-tab>
    </nb-tabset>
  </nb-layout-column>
</nb-layout>  