
table {
    text-align: center;
    width: 100%;
}
th.nb-header-cell.nb-column-more, td.nb-cell.nb-column-more {
    width: 10%;
    padding: 0;
    margin: 0;
    border: 0;
}
td.nb-tree-grid-cell.nb-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.no-jobs {
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 1rem;
}
nb-layout-header.fixed {
    z-index: 10000 !important;
}
